* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Tapestry", cursive;
  list-style: none;
  text-transform: uppercase;
}
@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");

h1 {
  text-align: center;
}

ul,
p {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
p {
  color: red;
}
ul > li:hover {
  color: rgb(55, 85, 218);
  cursor: pointer;
}

ul > li {
  border-radius: 2rem;
  padding: 1.3rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
