* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Tapestry", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");

main.container {
  margin: 2rem 20rem;
}
